name: on-pr-into-main

env:
  PYTHON_VERSION: 3.12

on:
  pull_request:
    branches:
      - main

jobs:
  run-pr-checks:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Bootstrap Python app and run lint
        run: |
          set -eu
          make bootstrap
          make lint
